.link{

    margin-bottom:0.5rem;
    margin-top:0.3rem;
}

.link a{
    color: black;
    border:2px solid black;
    border-radius: 0.5rem;
    text-decoration:none;
    padding: 0.25rem;
    margin-top:0.3rem;
}
