.title {
  position: center;
  font-size: 4rem;
  text-align: center;
}

form {
  text-align: center;
}

input {
  font-size: 1rem;
}

button {
  font-size: 1rem;
}
.lists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h1{
  text-align: center;
  
}
.searchList {
  width: 25%;
}
.playList {
  width: 25%;
}
