body {
  background-image: url("./assets/background_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Calibri;
  min-height: 100vh;
  background-attachment: fixed;
  margin: 0;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}
